/* Base style */
:root {
    --page-1-color: steelblue;
    --page-2-color: gray;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 1s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Utilities */
.btn {
    display: block;
    font-size: 1rem;
    padding: 0.35rem 0.7rem;
    margin: 0.3rem 0;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    transition: all 0.3s ease-in;
}

.btn:hover {
    background: rgb(77, 77, 216);
    color: #fff;
}

.btn-light {
    background: #fff;
    color: #333;
}

.btn-dark {
    background: #333;
    color: #fff;
}

/* Page colors */
#page-1 { background: var(--page-1-color); }
#page-2 { background: var(--page-2-color); }
#page-3 { background: var(--page-3-color); }
#page-4 { background: var(--page-4-color); }

/* Page */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 8rem;
    position: relative;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

.page .main-heading {
    animation: heading 1.5s forwards;
    animation-delay: 1s;
}

.page .main-p {
    animation: paragraph 2s ease-out;
    animation-delay: 1s;
}

@keyframes heading {
    from {
        transform: translateY(-320px)
    }
    to {
        transform: translateY(0);
    }
}

@keyframes paragraph {
    from {
        transform: translateX(-1500px);
    } 
    to {
        transform: translateX(0);
    }
}

.page p {
    font-size: 1.3rem;
}

.page .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem 2.5rem;
}